.searchinput{
  height: 30px;
  border-color: #cbd7da;
  display: inline;
}
#invoice-num{
  padding-top: 0.5 rem;
  font-weight: bold;
}
.upper-part{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
margin-top:9rem;
margin-left:5.5rem;
}

.dateC{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left:5.5rem;
}
.btncxadd{
  margin-right:5.5rem;
  width:4rem;
  background-color: rgb(13, 60, 146);
  color: white;
  font-weight: bold;
}
.tPayment{
  text-align: center;
  font-weight: bold;
}
