

.navbar {
  background: #39A6A3;
  box-shadow: 0 4px 8px 0 #39A6A3;
  /* opacity: 40%; */
}

nav .navbar-toggler {
  border: none;
}

.nav-item {
  padding-left: 2rem;
  padding-right: 2rem;

}

.logo{
  opacity: 100% !important;
}

.nav-link {
  font-weight: bold;
}
.allInvoicePlace{
  margin-left: 50rem;
}
.colortext{
  color:white;

}






@media (max-width: 768px) {
  nav .navbar-collapse {
      position: fixed;
      top: 99px;
      left: 0;
      padding-left: 15px;
      padding-right: 40px;
      padding-bottom: 15px;
      height: 100%;
      background: white;
      z-index: 2000;
      box-shadow: 5px 6px 5px 0px rgb(0 0 0 / 20%)
  }
  nav .navbar-collapse.collapsing {
      height: 100%;
      left: -75%;
      transition: height 0s ease;
  }
  nav .navbar-collapse.show {
      height: 100%;
      left: 0;
      transition: left 400ms ease-in-out;
  }
  nav .navbar-toggler.collapsed~.navbar-collapse {
      transition: left 400ms ease-in;
  }

}




