<div class="container py-3">
  <h2 class="title">All Invoices</h2>
  <p></p>
  <br />
  <div class="upper-part">
    <div class="input-group">
      <p id="invoice-num">Invoice number:</p>
      <input type="text" class="searchinput rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" (keyup)="getSearch(id)" [(ngModel)]="id" />
    </div>

  </div>


  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Invoice ID</th>
          <th scope="col">Issue Date </th>
          <th scope="col">Total Cost </th>
          <th scope="col">Operation </th>
        </tr>
      </thead>
      <tbody class="tbodyy">

        <tr *ngFor="let invoice of allInvoices">
          <th scope="row">{{invoice.invoice_Number}}</th>
          <td scope="col">{{invoice.invoice_Date | date}}</td>
          <td scope="col">{{invoice.total_Price}}</td>
          <td scope="col">
            <button type="button" class="btn operationbtn btn-primary" (click)="details(invoice.invoice_Number)"><i
                class="fa fa-info" aria-hidden="true"></i></button>
            <button type="button" class="btn operationbtn  btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteInvoice(invoice.invoice_Number)"><i class="fa fa-trash" aria-hidden="true" ></i></button>
            <!-- <button class="btn operationbtn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="edit(invoice.invoice_ID)"></i></button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>

  <!-- Modal DELETE -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation" aria-hidden="true"></i>Attention</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <strong>Are you sure you want to delete this invoice ?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ata-bs-dismiss="modal" (click)="delete()">Yes</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" >No</button>
      </div>
    </div>
  </div>
</div>
  <!-- End of Delete -->
